@{
  Layout = "_Layout";
}

<h1>Welcome Pierre!</h1>
<h1>Here you can organize your business by vendor and also have each vendors order inside!</h1>
<h3><a href='/vendors'>View vendors</a></h3>
<h3><a href='/vendors/new'>Add a new vendor</a></h3>
<h3><a href='/info'>Having a issue or want something changed?</a></h3>

