@{
  Layout = "_Layout";
}

<p>Contact me with questions and bugs at: <br>
<a href='https://github.com/maxwellalvord/maxwellalvord/issues'>https://github.com/maxwellalvord/maxwellalvord/issues</a><br>
or email me at <a href = "mailto:maxwellalvord@gmail.com">maxwellalvord@gmail.com</a></p>
<p><a href="/">Back home</a></p>